<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core"/>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <roadkill adminRoleName="Admin" attachmentsFolder="~/Attachments" useObjectCache="true" useBrowserCache="true" connectionStringName="Roadkill" dataStoreType="SqlServer2008" editorRoleName="Editor" ignoreSearchIndexErrors="true" installed="true" isPublicSite="false" ldapConnectionString="ldapstring" ldapUsername="ldapusername" ldapPassword="ldappassword" resizeImages="true" useWindowsAuthentication="false"/>
  <connectionStrings>
    <add name="Roadkill" connectionString="not used"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Console" name="ConsoleTarget" layout="[${longdate:universalTime=True}] [${level}] ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="ConsoleTarget"/>
    </rules>
  </nlog>
  <!-- Use these settings for Windows auth tests -->
  <!--<appSettings>
		<add key="url" value="http://localhost" />
		<add key="useWindowsAuth" value="true" />
	</appSettings>-->
  <!-- These redirects are needed for 3rd party modules that reference other versions of the assemblies listed.-->
  <runtime>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
