<connectionStrings>
	<!-- Run the \lib\Test-databases\roadkill-sqlserver.sql script to setup the database	-->
	<add name="Roadkill" connectionString="Data Source=skolariswiki.dbaserver.net;Initial Catalog=skolariswiki;user=skolariswiki;password=4qg5uKu3" providerName="System.Data.SqlClient"/>
</connectionStrings>
