<connectionStrings>
	<!-- Run the \lib\Test-databases\roadkill-sqlserver.sql script to setup the database	-->
	<add name="Roadkill" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SkolarisWiki;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>