<connectionStrings>
	<!-- Run the \lib\Test-databases\roadkill-sqlserver.sql script to setup the database	-->
	<add name="Roadkill" connectionString="Data Source=skolariswikicz.dbaserver.net;Initial Catalog=skolariswikicz;user=skolariswikicz;password=t9bDytBXf7JW" providerName="System.Data.SqlClient"/>
</connectionStrings>
