<?xml version="1.0" encoding="utf-8" ?>
<roadkill
	adminRoleName="Admin"
	apiKeys="apikey1,apikey2"
	attachmentsFolder="~/App_Data/Attachments"
	connectionStringName="Roadkill"
	editorRoleName="Editor"
	ignoreSearchIndexErrors="true"
	installed="true"
	isPublicSite="true"
	useWindowsAuthentication="false"
	useBrowserCache="true"
	databaseName="SqlServer2008"
/>
