<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="Replace"/>
  </system.web>
  <connectionStrings configSource="connectionStrings.Release.config" xdt:Transform="Replace" />
  <appSettings>
	<add key="AppBaseUri" value="/help/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
