@inherits RoadkillLayoutPage
@using Roadkill.Core
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Html.Partial("HeadContent")
	@RenderSection("SkolarisMetaTags", false)
</head>

<body>
@RenderBody()
</body>
</html>